<article>
  <h1>Your Profil</h1>

  <form [formGroup]="profilForm" (ngSubmit)="onSubmit(profilForm)">
    <section>

      <div>
        <h4>Name</h4>
        <h4>{{oldName}}</h4>
        <input type="text" name="name" id="name" formControlName="name">
      </div>

      <div>
        <h4>mail</h4>
        <h4>{{oldEmail}}</h4>
      </div>

      <div>
        <h4>avatar</h4>
        <img src="{{oldAvatar}}" alt="avatar">
        <input type="file" id="avatar" name="avatar" formControlName="avatar">
      </div>

    </section>
    <input type="submit" [disabled]="!profilForm.valid">
    <input type="reset">
  </form>
  <button (click)="deleteAll()">Delete all your posts</button>
</article>