<header>
  <nav>
    <div class="nav-wrapper">
      <a (click)="clickMenu()" data-activate="slide-out" class="button-collapse"><i class="material-icons" >
        menu
      </i></a> 
      <ul id="slide-out" class="sidenav">
        <li>
          <a routerLink="posts" (click)="closeMenu()">posts</a>
        </li>
        <li *ngIf="isAuth===true">
          <a routerLink="new" (click)="closeMenu()">new post</a>
        </li>
        <li>
          <div class="divider"></div>
        </li>
        <li>
          <div>
            <a routerLink="register" *ngIf="!isAuth" class="btn" (click)="closeMenu()">Register</a>
            <a routerLink="login" *ngIf="isAuth===false" class="btn pulse" (click)="closeMenu()">Connect</a>
            <button class="btn btn-flat red" (click)="onSignOut()" *ngIf="isAuth===true" (click)="closeMenu()">Sign out</button>
          </div>
        </li>
      </ul>
      <ul class="menu--desktop">
        <li class="desktop__links">
          <a routerLink="posts">posts</a>
        </li>
        <li *ngIf="isAuth===true" class="desktop__links">
          <a routerLink="new">new post</a>
        </li>
        <li class="desktop__links" *ngIf="!isAuth">
          <a routerLink="register">Register</a>
        </li>
        <li class="desktop__links" *ngIf="isAuth===false">
          <a routerLink="login">Connect</a>
        </li>
        <li class="desktop__links" *ngIf="isAuth===true">
          <button class="btn btn-flat" (click)="onSignOut()">Sign out</button>
        </li>
        <li class="brand-logo center">
          <p id="site-title">Blog</p>
        </li>

      </ul>
    </div>
  </nav>
</header>