header{
    margin-bottom: 50px;
    nav{
        background-color:#33658A;
        #site-title{
            @media screen and (max-width:780px) {
                 display:none;
            }
        }
        i{
            font-size: 3em;
            @media screen and (min-width:780px){
                display:none;
            }
        }
        .desktop__links{
            @media screen and (max-width:780px) {
                display: none;
            }
        }
    }
}