<h4>Add a post</h4>
<div>
  <form class="form-group" [formGroup]="postForm" (ngSubmit)="onSubmit(postForm)">
    <input type="text" placeholder="title" class="form-control" name="titre" formControlName="titre">
    <input type="text" placeholder="image url" class="form-control" name="image" formControlName="image">
    <textarea id="content" cols="30" rows="10" placeholder="content" name="content" class="form-control" formControlName="content"></textarea>
    <input type="submit" class="btn btn-primary" [disabled]="!postForm.valid">
  </form>
</div>