<div>
    <h2>Connectez vous</h2>
    <div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="*****@******.***" formControlName="email">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" placeholder="mdp" formControlName="password">
        <input type="submit" [disabled]="!loginForm.valid" class="btn waves-effect waves-light">
      </form>
      <a routerLink="/register">Ou créer votre compte</a>
    </div>
  </div>