<div [ngStyle]="{ 'background-color': getColor()}" class="card">
  <img src="{{image}}" alt="image" class="card-img-top">
  <div class="info"> 
   <div><button  (click)="delPost($event)" value="{{titre}}" *ngIf="isAuth===true"><i class="material-icons">
    delete
    </i></button>
    <p>Posté le {{ created_at | date:'EEEE dd MMMM yyyy':'':'fr'}} à {{ created_at | date:'hh:mm':'':'fr'}}</p></div> <h3 class="h3">{{ title }}</h3>
  </div>
  <a routerLink="/posts/{{id}}">afficher plus</a>
  <div class="action card-action">
    <button class="action__btns" id='Lbtn' (click)="onLoveIt($event)">Love it</button>
    <button class="action__btns" id="Dlbtn" (click)="onDontLoveIt($event)">Don't love it!</button>
  </div>
</div>