div{
    display:flex;
    flex-direction:column;
    background-color: lightsteelblue;
    padding:8px;
    border-radius:8px;
    max-width: 220px;
    max-height: 370px;

    img{
        height:150px;
        width: 100%;
    }

    .info{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        margin:0;
        div{
            button{
            height:auto;
            width:10px;
            box-shadow: 0;
            background-color: transparent;
            border:none;   
            }
        }
        h3{
            align-self:center;
        }
        p{
            align-self: flex-start;
            font-size: 10px;    
        }
        div{
            width:auto;
            display: flex;
            flex-direction:row-reverse;
            flex-wrap:wrap;
            margin-top:0;

            button{
            align-self: flex-end;
            max-width: auto;
            height: auto;
            }
        }
        
    }
    .action{
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        .action__btns{
            margin:auto 10px;
            border:none;
            border-radius: 2px;
            box-shadow: -2px 1px 17px -2px rgba(0,0,0,0.75);
           
        } 
        #Dlbtn{
                background-color: red;
            }
            #Lbtn{
                background-color: green;
            }
    }
    
}
.redNote{
   background-color: lightcoral;
}
.greenNote{
    background-color: lightgreen;
}