
<div [ngStyle]="{ 'background-color': getColor()}">
  <div id="info">
    <h3 class="h3">{{ titre }}</h3><p>Posté le {{ created_at | date:'EEEE dd MMMM yyyy':'':'fr'}} à {{ created_at | date:'hh:mm':'':'fr'}}</p>
    <button class="btn btn-danger" (click)="delPost($event)" *ngIf="isAuth===true">X</button>
  </div>
  <div id="content">
    <img src="{{image}}" alt="image" class="img-thumbnail rounded float-left col-4">
  <p>{{ content }}</p>
  </div>
  
  <div class="btns">
    <button class="btn btn-success" (click)="onLoveIt($event)">Love it</button><button class="btn btn-danger red" (click)="onDontLoveIt($event)">Don't love it!</button>
  </div>
</div>
