div{
    display:flex;
    flex-direction:column;
    padding:8px;
    border-radius:8px;
    #info{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #content{
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        width: 100%;
        margin:20px;
        img{
            min-width:200px;
            height:auto;
            border:2px red solid;
        }
        p{
            border:2px solid blue;
            margin-right:10px;
            width:500px;
        }
    }
    
    .btns{
        margin:auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        button{}
    }
}