<h2>
  créez votre compte</h2>
<div>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)">
    <label for="name">nom</label>
    <input type="text" id="name" name="name" placeholder="nom" formControlName="name">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="*****@******.***" formControlName="email">
    <fieldset formGroupName="passwords">
      <label for="password">Mot de passe</label>
      <input type="password" id="password" name="password" placeholder="mdp" formControlName="password">
      <input type="password" id="confirmPwd" name="confirmPwd" formControlName="confirmPwd" placeholder="confirm Password">
    </fieldset>
    <input type="text" id="avatar" name="avatar" placeholder="avatar's Url" formControlName="avatar">

    <input type="submit" [disabled]="signUpForm.invalid" class="waves-effect waves-light btn btn-flat toast-action">
  </form>
  <a routerLink="/login">Vous avez déjà un compte ?</a>
</div>