  <h1 class='h1'>Posts</h1>
  <div>
    <app-post-list-item-component *ngFor="let post of posts;let i = index"
                                        [postIndex]="i"
                                        [id]="post.id"
                                        [title]="post.titre"
                                        [image]="post.image"
                                        [content]="post.content"
                                        [loveIts]="post.loveIts"
                                        [created_at]="post.created_at"></app-post-list-item-component>
  </div>
