h1{
    text-align: center;
    color:white;
}
div{
    width:100%;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    div{
        border-top:2px lightslategray solid;
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        
    }
}
    