/* You can add global styles to this file, and also import other style files */
html{
    *{
        @import url('https://fonts.googleapis.com/css?family=Nunito');
        font-family: 'Nunito';
    }
    height: 100%;
    body{
    
// background: rgba(147,206,222,1);
// background: -moz-linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
// background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
// background: -webkit-linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
// background: -o-linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
// background: -ms-linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
// background: linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+36,7db9e8+36,207cca+75,3b679e+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+36,7db9e8+36,207cca+75,3b679e+100 */


// background: #7db9e8; /* Old browsers */
// background: -moz-linear-gradient(-45deg, #7db9e8 36%, #7db9e8 36%, #207cca 75%, #3b679e 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(-45deg, #7db9e8 36%,#7db9e8 36%,#207cca 75%,#3b679e 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(135deg, #7db9e8 36%,#7db9e8 36%,#207cca 75%,#3b679e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#3b679e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ background-repeat: no-repeat;
//     background-size: cover;

background-image: url('./assets/Unique-Polygon-Background.jpg');
    }
}
